.card-img-top {
    width: 100%;
    height: 75%;
}

.card {
    width: 185px;
    height: 305px;
}

.text-truncate {
    display: block;
}

.card-body .footer-text {
    text-transform: uppercase;
    font-size: 12px;
}