<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.anime.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div>
        {{template "header"}}
        <h1>{{.anime.Title}}</h1>
        <img alt="{{.anime.Title}}" src="{{.anime.MainPicture.Medium}}">
        <br>
        Genres: {{range .anime.Genres}} <b>{{.Name}}</b> {{end}}
        <br>
        Status: {{.anime.Status}}
        <br>
        Popularity: {{.anime.Popularity}} | Mean: {{.anime.Mean}}
        <br>
        Number of episodes: {{.anime.NumEpisodes}}
        <br>
        {{.anime.Synopsis}}
    </div>
</body>
</html>